.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: #000000;
  transition: color 0.3s, background-color 0.3s;
}

.app-main {
  flex: 1;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
